<h1><%= @restaurant.name %> Dishes</h1>

<% @dishes.each do |dish| %>
  <div id="dish-<%= dish.id %>">
   <%= dish.name %>
   <%= dish.seasonal %>
   <%= dish.calories %>
   <%= dish.restaurant_id %>
   <%= link_to "Edit #{dish.name}", "/dishes/#{dish.id}/edit" %>
  </div>
<% end %>

<%= link_to 'Create New Dish', "/restaurants/#{@restaurant.id}/dishes/new" %>
