<h1>New Dish for <%= @restaurant.name %></h1>

<%= form_with url: "/restaurants/#{@restaurant.id}/dishes", method: :post, local: true do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label :seasonal, "Seasonal (true/false)" %>
  <%= f.text_field :seasonal %>

  <%= f.label :calories, "Calories" %>
  <%= f.text_field :calories %>

  <%= f.submit 'Create New Dish' %>
<% end %>
