<h1><%= @farmers_market.name %> Produce</h1>

<% @produces.each do |produce| %>
  <div id="produce-<%= produce.id %>">
   <%= produce.name %>
   <%= produce.seasonal %>
   <%= produce.quantity %>
   <%= produce.farmers_market_id %>
  </div>
<% end %>

<%= link_to 'Create New Produce', "/farmers_markets/#{@farmers_market.id}/produces/new" %>

<%= form_with url: "/farmers_markets/#{@farmers_market.id}/produces?quantity=filter", method: :get, local: true do |f| %>
  <%= f.label :quantity, 'Show only produce where quantity is greater than: ' %>
  <%= f.text_field :quantity %>

  <%= f.submit 'Apply' %>
<% end %>
