<h1><%= @farmers_market.name %> Produce</h1>

<% @produces.each do |produce| %>
  <div id="produce-<%= produce.id %>">
   <%= produce.name %>
   <%= produce.seasonal %>
   <%= produce.quantity %>
   <%= produce.farmers_market_id %>
  </div>
<% end %>

<%= link_to 'Create New Produce', "/farmers_markets/#{@farmers_market.id}/produces/new" %>
