<h1><%= @dish.name %></h1>
<h3><%= @dish.seasonal %></h3>
<h3><%= @dish.calories %></h3>
<h3><%= @dish.restaurant_id %></h3>

<%= link_to 'Update Dish', "/dishes/#{@dish.id}/edit" %>
<%= link_to "Delete #{@dish.name}", "/dishes/#{@dish.id}", method: :delete %>
