<h1>Edit <%= @restaurant.name %></h1>

<%= form_with url: "restaurants/#{@restaurant.id}", method: patch, local: true do |f| %>
  <%= f.label :name, 'Name' %>
  <%= f.text_field :name %>

  <%= f.label :name, 'Name' %>
  <%= f.text_field :name %>

  <%= f.label :name, 'Name' %>
  <%= f.text_field :name %>
