<br>
<h3>Restaurants</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th><h4>Name</h4></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <div id="restaurant-<%= restaurant.id %>">
          <td><h5><%= link_to restaurant.name, "/restaurants/#{restaurant.id}" %></h5></td>
          <td><%= link_to "Edit", "/restaurants/#{restaurant.id}/edit", class: 'btn btn-info' %></td>
          <td><%= link_to "Delete", "/restaurants/#{restaurant.id}", method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Create New Restaurant', '/restaurants/new', class: 'btn btn-success' %>
