<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.dine_in %></h3>
<h3><%= @restaurant.rating %></h3>

<p>Dishes offered: <%= @restaurant.dishes_count %></p>
<%= link_to 'Dishes', "/restaurants/#{@restaurant.id}/dishes" %>
<%= link_to 'Update Restaurant', "/restaurants/#{@restaurant.id}/edit" %>
