<h1><%= @farmers_market.name %></h1>
<h3><%= @farmers_market.local %></h3>
<h3><%= @farmers_market.vendor_count %></h3>

<p>Produce variety: <%= @farmers_market.produce_count %></p>

<%= link_to 'Produce', "/farmers_markets/#{@farmers_market.id}/produces" %>

<%= link_to 'Update Farmers Market', "/farmers_markets/#{@farmers_market.id}/edit" %>
<%= link_to "Delete #{@farmers_market.name}", "/farmers_markets/#{@farmers_market.id}", method: :delete %>
